h2 {
    color: rgb(4, 4, 116);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2em;
}

h3 {
    font-weight: bolder;
    color:black;
    font-size: 1.5em;

}

h4 {
    color:rgb(65, 61, 61);
    font-size: 1.25em;

}

h5{
    color:rgb(65, 61, 61);
    font-size: em;

}

p, ol, ul {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    
}